.project
.classpath
/.settings/
/target/
/data/
/log/
/src/main/resources/static/
/node/
/node_modules/

# Properties files with sensitive information
src/main/resources/application.properties
src/main/resources/application-*.properties
